<h3>
  My Drafts
  {{#link-to "posts.new"}}(New){{/link-to}}
</h3>

<ul>
  {{#each post in drafts}}
    <li>
      {{render "posts/post" post}}
    </li>
  {{/each}}
</ul>

<h3>Published Posts</h3>
<ul>
  {{#each post in published}}
    <li>
      {{render "posts/post" post}}
    </li>
  {{/each}}
</ul>
